body{
    background-color: lightblue;
}
#farm{
    display: flex;
   justify-content: center;
}
img{
    display:block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:70px;
    margin-bottom: 0;
}
div{
 display: flex;
 justify-content: center;
 margin:85px;
 margin-top:0px;
 margin-bottom: 0px;
}
h1{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-family: 'Ubuntu Mono';
    font-size:60px;
}
.catObject{
    background-color: lightcoral;
    border:solid black 2px;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  
}
.dogObject{
    background-color: lightyellow;
    border:solid black 2px;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
   
}
.sheepObject{
    background-color: lightgreen;
    border:solid black 2px;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  
}
.horseObject{
    background-color: lightsteelblue;
    border:solid black 2px;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}